.degrade {
    -fx-background-color: linear-gradient(to bottom, #051B46 0%, #051B46 50%, #051B46 100%);
}

.scroll{
    -fx-background-color:#FFFFFF ;
}

.card{
    -fx-background-color: #ffffff;
    -fx-background-radius: 30;

}
.card1{
    -fx-background-color: #ffffff;
    -fx-background-radius: 30;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 10.0, 0.0, 0.0, 10.0);
}