
.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #2CA2FB;
    -fx-padding: 8px;
    -fx-background-color: #051B46;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

/* Apply styles to the grid pane */
#gridPane {
    -fx-background-color: #fff;
    -fx-padding: 20px;
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

.data-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #2CA2FB;
    -fx-padding: 8px;
    -fx-background-color: #fff;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}