.search-box{
    -fx-background-color:#FFFFFF ;
    -fx-background-radius: 10;
    -fx-padding: 20px;
}

.rectangle {
    -fx-stroke: #0000FF; /* Blue border color */
    -fx-stroke-width: 2px; /* Border width */
    -fx-padding: 20px; /* Padding inside the rectangle */
    -fx-background-color: #efefef; /* Background color */
    -fx-background-radius: 10; /* Border radius */
}


.label {
    -fx-font-size: 14px;
    -fx-text-fill: #333; /* Label text color */
    -fx-padding: 5px 0; /* Vertical padding */
}

.text-field {
    -fx-background-color: #f0f0f0; /* Text field background color */
    -fx-background-radius: 5; /* Text field border radius */
    -fx-padding: 5px; /* Text field padding */
}

.search-button{
    -fx-background-color: #000E29;
    -fx-background-radius: 30;
    -fx-text-fill: white; /* Button text color */
    -fx-padding: 10px 20px; /* Button padding */
}

/* Other styles remain unchanged */
