.button{
    -fx-pref-width: 200px;
    -fx-pref-height: 40px;
    -fx-border-width: 3px;
    -fx-border-color: #315cfd;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-background-color: white;
    -fx-text-fill: #000; /* Default text color */
    -fx-font-size: 1.2em;
    -fx-font-weight: 550;
    -fx-cursor: hand;
}

.button:hover{
    -fx-background-color: #315cfd;
    -fx-text-fill: white;
    -fx-font-size: 1.5em;
}
